body {
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  font-size: 1.25rem;
}

header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background: white;
}

main {
  width: 1088px;
  margin: 15em auto 0 auto;
  overflow-y: none;
  line-height: 1.4em;
}

a {
  font-weight: 400;
  color: black;
}

.monogram-block {
  background: #A8A9AD;
  width: 22rem;
  height: 12rem;
  font-size: 7rem;
  font-weight: 100;
  position: relative;
  }

.monogram {
  position: absolute;
  top: 50%;
  left: 48%;
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: white;
}

.w-g {
  letter-spacing: -15px;
}

.headshot {
  display: inline-block;
  height: 12rem;
}

.header {
  display: inline-block;
}

.name-block {
  padding: 0.5em 1em;
  vertical-align: bottom;
}

.full-name {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 2.25em;
}

.profession {
  line-height: 1.2em;
  font-size: 1.1em;
  font-weight: 400;
  text-transform: uppercase;
}

.double-slash {
  letter-spacing: -3px;
}

.dash-header {
  position: absolute;
  bottom: -0.6em;
  left: -23em;
  z-index: -1;
}

.construction-section {
  margin-top: 5em;
  font-size: 1.25em;
}

.notification-form {
  padding: 1.5em 0;
}
